# dependencies
node_modules/

# next.js
.next/
out/

# env & logs
.env*
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# vercel
.vercel/

# Ignorar vídeos/arquivos grandes
*.mp4
*.mov
*.avi
*.mkv
*.zip
*.rar

